*.csv
*.dat
*.DS_Store
*.iml
*.log
*.out
*.pid
*.seed
*.sublime-*
*.swo
*.swp
*.tgz
*.vscode/
*.xml
.cache
.circleci/
config/.env
.idea
.prettierrc
.project
.strong-pm
coverage
node_modules/
npm-debug.log
