html, body {
    height: 100%;
}

.mfl-container {
    max-width: 1400px;
    min-height: 710px;
}

.mfl-table thead tr th {
    font-weight: 100;
    border-radius: 0;
}
.mfl-table tbody tr {
    cursor: pointer;
}

.mfl-full-screen-search {
    width: 100%;
    position: absolute;
}

.mfl-normal-search {
    width: 1%;
}
.mfl-p-2 {
    padding: 2%;
}
.mfl-p-5 {
    padding: 5%;
}
.mfl-pr-10 {
    padding-right: 10%;
}

.mfl-pl-10 {
    padding-left: 10%;
}

.mfl-pl-2 {
    padding-left: 2%;
}

.mfl-m-2 {
    margin: 2%;
}

.mfl-w-9 {
    width: 90%;
}

.mfl-bm-5 {
    margin-bottom: 5%;
}

.mfl-bm-2 {
    margin-bottom: 2%;
}

.mfl-rm-10 {
    margin-right: 10%;
}

.mfl-tm-5 {
    margin-top: 5% !important;
}

.mfl-tm-2 {
    margin-top: 2% !important;
}

.mfl-h-10 {
    height: 10%;
}

.mfl-card-row td {
    padding: 0px;
}

.mfl-px-2 {
    padding: 0px 2% !important;
}

.modal-footer {
    z-index: 999;
}

.mfl-table-card,
.mfl-bottom-margin {
    padding: 0px;
    height: 100px;
}
.mfl-bottom-margin {
    margin-bottom: -40px;
    font-weight: bolder;
    color: #ccc;
}
body {
    font-family: "Source Sans Pro", sans-serif;
}
.mfl-summary-header,
.mfl-summary-subheader {
    width: 70%;
    margin: 20px auto;
    border-bottom: 1px solid #a6a6a6;
    color: #a6a6a6;
    text-transform: uppercase;
    font-size: 12px;
}

.mfl-summary-subheader {
    border-bottom: none;
    font-size: 18px;
}

.mfl-summary-text,
.mfl-summary-subtext {
    width: 70%;
    margin: 20px auto;
    color: #666;
    text-transform: uppercase;
    font-size: 16px;
    font-weight: bold;
    padding-top: 10px;
}

.mfl-summary-subtext {
    font-size: 18px;
}
.mfl-title {
    margin-left: 150px;
}
.mfl-div {
    height: 400px;
}

.mfl-titles h5,
h6 {
    margin-top: 30px;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 16px;
    color: #666;
    margin-bottom: -5px;
}

.mfl-titles h6 {
    margin-bottom: 25px;
}

.mfl-icon {
    color: #666;
}

.mfl-download {
    position: relative !important;
    margin-top: 30px;
}

.mfl-tabs a {
    color: #0d47a1 !important;
}
.indicator {
    background-color: #0d47a1 !important;
}
.mfl-search-results-container {
    background: white;
    width: 100%;
    height: 350px;
    position: absolute;
    z-index: 999;
    box-shadow: 0px 2px 3px 1px #ccc;
}

.mfl-advanced-search {
    position: absolute;
    margin-top: 20px;
}

.modal-lg {
    width: 100% !important;
    height: 90%;
    z-index: 999;
}

.modal-content {
    height: 100%;
}

.mfl-modal-header {
    font-size: 22px;
}

.advanced-search-tag-container {
    border-top: 1px solid #ccc;
    padding: 10px;
}

.tabs .tab a:hover,
.tabs .tab a.active {
    color: white !important;
}

.tabs .tab a {
    color: white !important;
}

.mfl-select ul {
    max-height: 400px !important;
}

select.mfl-select {
    height: 300px;
}

.modal-content {
    height: 400px;
}

.mfl-close {
    font-size: 10px !important;
    margin-left: 5px !important;
    border-radius: 100% !important;
    background: #ccc;
}

.mfl-close:hover {
    cursor: pointer;
}

.mfl-search-feedback {
    text-transform: uppercase;
    margin: 5px 0px;
    background: #666;
    padding: 10px;
    color: white;
}

.mfl-get-results-btn {
    margin-top: -7px;
    margin-right: -6px;
}

.mfl-stats-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 20px;
    font-size: 22px;
}

.mfl-shadow {
    box-shadow: 1px 1px 10px #000;
}

.mfl-stats-container div:first-child {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.mfl-stats-icon {
    font-size: 32px;
    color: #666;
}
.mfl-stats-title {
    padding: 4px 0px;
    border-top: 1px solid #666;
    margin-top: 4px;
    text-transform: uppercase;
}

.mfl-stats-number {
    font-size: 42px;
    font-weight: bold;
}

.mfl-dash-container {
    max-width: 100% !important;
}

.mfl-map-container {
    padding: 5px;
}
.mfl-graphs-container {
    flex-grow: 1;
}

.mfl-dashboard {
    display: flex;
    flex-direction: row;
    width: 97%;
    margin: 2%;
}

.mfl-card-title {
    padding: 15px;
    color: white;
    font-size: 18px;
    text-transform: uppercase;
}

.mfl-chart-container {
    max-height: 400px;
}

.mfl-filter-wrapper {
    overflow-x: auto;
    overflow-y: hidden;
    width: 100%;
    height: 64px;
    position: relative;
    white-space: nowrap;
}

.mfl-icon-color {
    color: #fff
}

.mfl-footer-text-align {
    text-align: left;
}

@media only screen and (min-width: 1920px) {
    .row .col.xl2 {
        width: 16.6666667% !important;
    }
    .row .col.xl3 {
        width: 25% !important;
    }
    .row .col.xl10 {
        width: 83.33333333% !important;
    }
}

.mfl-modal-container {
    min-height: 794px;
}

.mfl-sm-icon i {
    font-size: 16px;
    border: 1px solid white;
    border-radius: 999%;
    padding: 5px;
    margin: 5px;
}

.mfl-contact {
    margin: 5px;
    padding: 40px 0px;
    border-right: 1px solid white;
    text-transform: uppercase;
}

.mfl-copy {
    padding: 20px 10px;
}

.mfl-page-wrap {
    min-height: 100%;
}

.mfl-no-margin {
    margin-bottom: 0px !important;
}

.page-footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    z-index: 999;
}

.mfl-facility-code {
    border-radius: 200px !important;
    margin-right: 50px;
    width: 100px !important;
    padding: 10px;
    text-align: center;
    background: grey;
    color: white;
}

.mfl-facility-list-details {
    padding-left: 150px !important;
}

.mfl-facility-list-title {
    font-size: 22px !important;
    font-weight: bold;
}

.mfl-facility-list-subtitle {
    font-size: 18px !important;
    font-weight: bold;
}

.mfl-facility-list-date {
    font-size: 16px !important;
    font-style: italic;
}

.password-wrapper {
    width: 80%;
    max-width: 320px;
    border-radius: 5px;
    background-color: rgb(37, 20, 20);
    overflow: hidden;
    border: 1px black;    
}

.input {
    border: none;
    padding: 10px 15px;
    font: small-caption;	
    font-size: 1.8;
    width: calc(100% - 50px);
    color: dark-blue-light;
    outline: none;
}

.icon-wrapper {
    position: relative;
    display: inline;
    float: right;
    size : (50px, 50px);
    background-color: dark-blue-light;
    transition: background-color .25s ease-out;
    cursor: pointer;
}

.mfl-tm-20 {
    margin-top: 20%;
}

.mfl-tm-10 {
    margin-top: 10%;
}

.mfl-about-icon i {
    font-size: 18px;
    border: 1px solid black;
    border-radius: 999%;
    padding: 5px;
    margin: 5px;
}

.mfl-about-text {
    font-size: 18px;  
}

.mfl-paragraph {
    font-size: 16px;
    line-height: 10px; 
}

.partner-logos {
    margin-left: 16%;
}
.mfl-banner{
    background: #666;
}

.mfl-about-container{
    background: #fff;
}

.mfl-ref {
    position: relative;
}

.mfl-abs {
    position: absolute;
}

.mfl-banner-img, .mfl-parallax {
    width: 100%;
    height: 240px;
}

.mfl-parallax {
    background: rgba(0,0,0,0.7);
    color: white;
    text-align: center;
    padding-top: 90px;
}

.mfl-banner-img {
    object-fit: cover;
}