.App {
    text-align: center;
}

.App-logo {
    animation: App-logo-spin infinite 20s linear;
    height: 80px;
}

.App-header {
    background-color: #222;
    height: 150px;
    padding: 20px;
    color: white;
}

.App-title {
    font-size: 1.5em;
}

.App-intro {
    font-size: large;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.mfl-container {
    max-width: 1400px;
}

.mfl-table thead tr th {
    font-weight: 100;
    border-radius: 0;
}

.mfl-full-screen-search {
    width: 100%;
    position: absolute;
}

.mfl-normal-search {
    width: 1%;
}

.mfl-pr-10 {
    padding-right: 10%;
}

.mfl-pl-10 {
    padding-left: 10%;
}

.mfl-pl-2 {
    padding-left: 2%;
}

body {
    font-family: 'Source Sans Pro', sans-serif;
}
