html,
body {
  height: 100%;
}

.mfl-container {
  max-width: 1400px;
  min-height: 710px;
}

.mfl-table thead tr th {
  font-weight: 100;
  border-radius: 0;
}
.mfl-table tbody tr {
  cursor: pointer;
}

.mfl-full-screen-search {
  width: 100%;
  position: absolute;
}

.mfl-normal-search {
  width: 1%;
}
.mfl-p-2 {
  padding: 2%;
}
.mfl-p-5 {
  padding: 5%;
}
.mfl-pr-10 {
  padding-right: 10%;
}

.mfl-pl-10 {
  padding-left: 10%;
}

.mfl-pl-2 {
  padding-left: 2%;
}

.mfl-m-2 {
  margin: 2%;
}

.mfl-w-9 {
  width: 90%;
}

.mfl-bm-5 {
  margin-bottom: 5%;
}

.mfl-bm-2 {
  margin-bottom: 2%;
}

.mfl-rm-10 {
  margin-right: 10%;
}

.mfl-rm-2 {
  margin-right: 2%;
}

.mfl-tm-5 {
  margin-top: 5% !important;
}

.mfl-tm-2 {
  margin-top: 2% !important;
}

.mfl-lm-2 {
  margin-left: 2%;
}
.mfl-fl-right {
  float: right;
  clear: both;
}

.mfl-pointable {
  cursor: pointer;
}

.mfl-h-10 {
  height: 10%;
}

.mfl-card-row td {
  padding: 0px;
}

.mfl-px-2 {
  padding: 0px 2% !important;
}

.modal-footer {
  z-index: 999;
}

.mfl-table-card,
.mfl-bottom-margin {
  padding: 0px;
  height: 100px;
}
.mfl-bottom-margin {
  margin-bottom: -40px;
  font-weight: bolder;
  color: #ccc;
}
body {
  font-family: "Source Sans Pro", sans-serif;
}
.mfl-summary-header,
.mfl-summary-subheader {
  width: 70%;
  margin: 20px auto;
  border-bottom: 1px solid #a6a6a6;
  color: #a6a6a6;
  text-transform: uppercase;
  font-size: 12px;
}

.mfl-summary-subheader {
  border-bottom: none;
  font-size: 18px;
}

.mfl-max-width {
  width: 100%;
}

.mfl-summary-text,
.mfl-summary-subtext {
  width: 70%;
  margin: 20px auto;
  color: #666;
  text-transform: uppercase;
  font-size: 16px;
  font-weight: bold;
  padding-top: 10px;
}

.mfl-summary-subtext {
  font-size: 18px;
}
.mfl-title {
  margin-left: 150px;
}
.mfl-div {
  height: 400px;
}

.mfl-titles h5,
h6 {
  margin-top: 30px;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 16px;
  color: #666;
  margin-bottom: -5px;
}

.mfl-titles h6 {
  margin-top: 10px;
  margin-bottom: 25px;
}

.mfl-icon {
  color: #666;
}

.mfl-download {
  position: relative !important;
  margin-top: 30px;
}

.mfl-tabs a {
  color: #0d47a1 !important;
}
.indicator {
  background-color: #0d47a1 !important;
}
.mfl-search-results-container {
  background: white;
  width: 100%;
  height: 350px;
  position: absolute;
  z-index: 999;
  box-shadow: 0px 2px 3px 1px #ccc;
}

.mfl-advanced-search {
  position: absolute;
  margin-top: 20px;
}

.modal-lg {
  width: 100% !important;
  height: 90%;
  z-index: 999;
}

.modal-content {
  height: 100%;
}

.mfl-modal-header {
  font-size: 22px;
}

.advanced-search-tag-container {
  border-top: 1px solid #ccc;
  padding: 10px;
}

.tabs .tab a:hover,
.tabs .tab a.active {
  color: white !important;
}

.tabs .tab a {
  color: white !important;
}

.mfl-select ul {
  max-height: 400px !important;
}

select.mfl-select {
  height: 300px;
}

.modal-content {
  height: 400px;
}

.mfl-close {
  font-size: 10px !important;
  margin-left: 5px !important;
  border-radius: 100% !important;
  background: #ccc;
}

.mfl-close:hover {
  cursor: pointer;
}

.mfl-search-feedback {
  text-transform: uppercase;
  margin: 5px 0px;
  background: #666;
  padding: 10px;
  color: white;
}

.mfl-get-results-btn {
  margin-top: -7px;
  margin-right: -6px;
}

.mfl-stats-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 20px;
  font-size: 22px;
}

.mfl-shadow {
  box-shadow: 1px 1px 10px #000;
}

.mfl-stats-container div:first-child {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.mfl-stats-icon {
  font-size: 32px;
  color: #666;
}
.mfl-stats-title {
  padding: 4px 0px;
  border-top: 1px solid #666;
  margin-top: 4px;
  text-transform: uppercase;
}

.mfl-stats-number {
  font-size: 42px;
  font-weight: bold;
}

.mfl-dash-container {
  max-width: 100% !important;
}

.mfl-map-container {
  padding: 5px;
}
.mfl-graphs-container {
  flex-grow: 1;
}

.mfl-dashboard {
  display: flex;
  flex-direction: row;
  width: 97%;
  margin: 2%;
}

.mfl-card-title {
  padding: 15px;
  color: white;
  font-size: 18px;
  text-transform: uppercase;
}

.mfl-chart-container {
  max-height: 400px;
}

.mfl-filter-wrapper {
  overflow-x: auto;
  overflow-y: hidden;
  width: 100%;
  height: 64px;
  position: relative;
  white-space: nowrap;
}

.mfl-icon-color {
  color: #fff;
}

.mfl-footer-text-align {
  text-align: left;
}

@media only screen and (min-width: 1920px) {
  .row .col.xl2 {
    width: 16.6666667% !important;
  }
  .row .col.xl3 {
    width: 25% !important;
  }
  .row .col.xl10 {
    width: 83.33333333% !important;
  }
}

.mfl-modal-container {
  min-height: 794px;
}

.mfl-sm-icon i {
  font-size: 16px;
  border: 1px solid white;
  border-radius: 999%;
  padding: 5px;
  margin: 5px;
}

.mfl-contact {
  margin: 5px;
  padding: 40px 0px;
  border-right: 1px solid white;
  text-transform: uppercase;
}

.mfl-copy {
  padding: 20px 10px;
}

.mfl-page-wrap {
  min-height: 100%;
}

.mfl-no-margin {
  margin-bottom: 0px !important;
}

.page-footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  z-index: 999;
}

.mfl-facility-code {
  border-radius: 200px !important;
  margin-right: 50px;
  width: 100px !important;
  padding: 10px;
  text-align: center;
  background: grey;
  color: white;
}

.mfl-facility-list-details {
  padding-left: 150px !important;
}

.mfl-facility-list-title {
  font-size: 22px !important;
  font-weight: bold;
}

.mfl-facility-list-subtitle {
  font-size: 18px !important;
  font-weight: bold;
}

.mfl-facility-list-date {
  font-size: 16px !important;
  font-style: italic;
}

.password-wrapper {
  width: 80%;
  max-width: 320px;
  border-radius: 5px;
  background-color: rgb(37, 20, 20);
  overflow: hidden;
  border: 1px black;
}
/*
.input {
    border: 5px;
    padding: 10px 15px;
    font: small-caption;
    font-size: 1.8;
    width: calc(100% - 50px);
    color: dark-blue-light;
    outline: 5px;
}
*/

.mfl-tm-20 {
  margin-top: 20%;
}

.mfl-tm-10 {
  margin-top: 10%;
}

.mfl-about-icon i {
  font-size: 18px;
  border: 1px solid black;
  border-radius: 999%;
  padding: 5px;
  margin: 5px;
}

.mfl-about-text {
  font-size: 18px;
}

.mfl-paragraph {
  font-size: 16px;
  line-height: 10px;
}

.partner-logos {
  margin-left: 16%;
}
.mfl-banner {
  background: #666;
}

.mfl-about-container {
  background: #fff;
}

.mfl-ref {
  position: relative;
}

.mfl-abs {
  position: absolute;
}

.mfl-banner-img,
.mfl-parallax {
  width: 100%;
  height: 240px;
}

.mfl-parallax {
  background: rgba(0, 0, 0, 0.7);
  color: white;
  text-align: center;
  padding-top: 90px;
}

.mfl-banner-img {
  object-fit: cover;
}

.mfl-login-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  width: 50%;
  margin: 10% auto;
  padding: 30px;
  border-left: 4px solid #82b1ff;
  border-right: 4px solid #82b1ff;
}

.mfl-login-input {
  height: 50px !important;
  background-color: white !important;
  padding-left: 10px !important;
  color: rgb(71, 71, 71) !important;
  font-size: 18px !important;
  box-shadow: none !important;
  position: relative !important;
}

.mfl-login-input:focus {
  box-shadow: none !important;
  outline: none !important;
}

.mfl-login-input-container {
  display: flex;
  flex-direction: row;
  border: 1px solid #54617a;
  height: 53px;
  border-radius: 5px;
  position: relative !important;
}

.mfl-login-icon {
  padding: 15px;
  height: 51px;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
}

.mfl-logout {
  display: flex;
  flex-direction: row;
  border: 1px solid black;
  padding-top: 100px;
}

.mfl-nav-icon {
  margin-top: -2px;
}

.mfl-nav-item {
  font-size: 12px !important;
  text-align: right;
}

.mfl-add-facility {
  margin-right: -140px !important;
}

.mfl-facility-name {
  margin-right: -30px !important;
}

.mfl-vertical-ruler {
  float: left;
  height: 30px;
  width: 1px;
  background-color: #0f1316;
}
.mfl-vertical-ruler-services {
  float: left;
  height: 350px;
  width: 1px;
  margin-top: -30%;
  background-color: #0f1316;
}

.mfl-form-wizard {
  color: #666;
  cursor: pointer;
}

.mfl-form-wizard div span {
  border: 1px solid #666;
  margin: 2px;
  padding-right: 10px;
  padding-left: 10px;
  border-radius: 99%;
}

.mfl-active-form-wizard {
  color: teal;
  font-weight: bold;
}

.mfl-active-form-wizard span {
  background-color: teal;
  border-color: teal;
  color: white;
}

.mfl-add-taboriginal {
  line-height: 43px;
  text-align: center;
  height: 60px;
  width: 210px;
  -webkit-clip-path: polygon(0% 0%, 75% 0%, 100% 50%, 75% 100%, 0% 100%);
  clip-path: polygon(0% 0%, 75% 0%, 100% 50%, 75% 100%, 0% 100%);
}
.mfl-first-tabs {
  line-height: 43px;
  text-align: center;
  height: 60px;
  width: 210px;
  background-color: #aabbcc !important;
  -webkit-clip-path: polygon(0% 0%, 75% 0%, 100% 50%, 75% 100%, 0% 100%);
  clip-path: polygon(0% 0%, 80% 0%, 100% 50%, 80% 100%, 0% 100%);
}
.mfl-add-tabs {
  line-height: 43px;
  text-align: center;
  margin-left: -60px !important;
  height: 60px;
  width: 210px;
  background-color: #aabbcc !important;

  -webkit-clip-path: polygon(
    75% 0%,
    100% 50%,
    75% 100%,
    0% 100%,
    25% 50%,
    0% 0%
  );
  clip-path: polygon(75% 0%, 90% 50%, 75% 100%, 10% 100%, 25% 50%, 10% 0%);
}

.mfl-add-tabresources {
  line-height: 43px;
  text-align: center;
  margin-left: -88px !important;
  height: 60px;
  width: 210px;
  background-color: #aabbcc !important;

  -webkit-clip-path: polygon(
    75% 0%,
    100% 50%,
    75% 100%,
    0% 100%,
    25% 50%,
    0% 0%
  );
  clip-path: polygon(75% 0%, 90% 50%, 75% 100%, 10% 100%, 25% 50%, 10% 0%);
}

.mfl-add-tabcontacts {
  line-height: 43px;
  text-align: center;
  margin-left: -70px !important;
  height: 60px;
  width: 210px;
  background-color: #aabbcc !important;

  -webkit-clip-path: polygon(
    75% 0%,
    100% 50%,
    75% 100%,
    0% 100%,
    25% 50%,
    0% 0%
  );
  clip-path: polygon(75% 0%, 85% 50%, 75% 100%, 15% 100%, 25% 50%, 15% 0%);
}

.mfl-add-facility-nav {
  padding-left: -300px;
}
.mfl-tabs-text {
  text-align: center;
  color: white;
}
.indicator {
  background-color: #fff !important;
}
.mfl-select-tab {
  margin-top: 0.8px;
}

.mfl-active-tab {
  background-color: #77a5e2 !important;
}

.mfl-inactive-tabs {
  background-color: #a5aab1 !important;
}

.mfl-add-footer {
  height: 60px;
  align-items: center;
  padding: 6px;
}

.mfl-tab-btn-space {
  margin-left: 860px !important;
  margin-top: 5px !important;
}

.mfl-tab-btn-space-previous {
  margin-left: 700px !important;
  margin-top: -58px !important;
}

.mfl-add-cancel-btn {
  margin-top: 10px !important;
}
.mfl-tm-1 {
  margin-top: 1%;
}
.mfl-tm-resource {
  margin-top: -20px !important;
}

.mfl-tm-title {
  margin-top: 70px !important;
  margin-left: 10px !important;
}

.mfl-tm-title2 {
  margin-top: 152px !important;
  margin-left: 20px !important;
}
.mfl-rule-resource {
  margin-left: 20px !important;
}
.mfl-rule-utility-2 {
  margin-left: 20px !important;
}

.mfl-rule-utility {
  margin-left: 20px !important;
  margin-top: 130px !important;
}
.mfl-services-rule {
  margin-top: -60px;
}
.mfl-collection-item {
  transition-duration: 400ms;
  padding-bottom: 0;
  background-color: #ccc;
}
.mfl-collection-item:hover {
  background-color: #eee;
}

.MuiInput-underline-9:before,
.MuiInput-underline-9:after {
  border: none !important;
}

.partner-logo {
  height: 100px;
  display: block;
  margin: auto;
}

.districts path:hover {
  background: #0d47a1;
  fill: blue;
}
.content {
  margin: 0;
}

svg #districts path:hover {
  fill: rgb(60, 116, 199);
}

#svg {
  width: 100%;
  min-width: 100%;
  height: 100%;
  min-height: 100%;
}

.map {
  height: 100%;
  width: 100%;
}

.bg-blue {
  background: #0d47a1;
  color: white;
}

.mapClick {
  fill: #0d47a1;
}

.react-confirm-alert-overlay {
  background: rgba(0, 0, 0, 0.8) !important;
}

.mfl-about-text {
  font-size: 100%;
  line-height: 1.5;
  /* font-family: Georgia, "Times New Roman", Times, serif; */
}

.mfl-feedback-img {
  background: url("banner.png");
  height: 100%;
  width: 100%;
  padding: 100px 40px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.mfl-purpose,
.mfl-feedback {
  text-align: justify;
}
.mfl-purpose p,
.mfl-feedback p {
  margin-bottom: 1rem;
  line-height: 1.8rem;
}

@media only screen and (min-width: 993px) {
  .col-5 {
    width: 20% !important;
  }
}

@media (max-width: 768px) {
  .mfl-login-input-container,
  .mfl-login-input,
  .mfl-login-container {
    width: 100% !important;
  }

  .container {
    padding-left: 20px;
    padding-right: 20px;
  }
}
